POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=modsen_social_db

KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
KC_DB_NAME=keycloak_db

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_HOST=keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER_URL=http://keycloak:8080/realms/modsen-social

EUREKA_URL=http://eureka:8761/eureka
